- const $dataFiles = ['data/common.json', 'data/about.json']

doctype html
html
  head
    title Page with Data Files
  body
    h1= pageTitle
    p= description
    p= content
    footer
      p © #{year} #{siteName}
